
/* 
----------------------------------------------------------------------------------------

Copyright 2010 - Thierry Ruiz - www.dotemplate.com - All rights reserved.

THIS TEMPLATE IS FREE AS LONG AS YOU KEEP THE LINK TO WWW.DOTEMPLATE.COM IN THE FOOTER
TO REMOVE THE LINK, PLEASE MAKE A 10 DOLLARS DONATION at www.dotemplate.com/#donate

----------------------------------------------------------------------------------------
*/





body {
	padding:0;
	margin :0;
	display:table; 
	width:100%;	
}


					body {
	color:#52413e;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
}





					
#wrapper {
	background: transparent url( /img/css/page-vbg.jpg ) repeat-y scroll 50% 0px;
	margin:0 auto ;
	width:100%;
}

					body {
	background-color:#f0ead1;
}

#wrapper {
	border-top: 1px solid #ffffff;
}
	

#bg {
	margin:0 auto;
	padding:0;
	background:transparent ;
	background-image:url(/img/css/hat.jpg);
 	background-repeat:no-repeat;	
	background-position: center top ;
}

#notif{
    margin-top: 5px;
    margin-left: 27%
   
}

#header {
	margin: 0 auto;
	min-height:25px;
	height: 25px;
	width: 800px;
}
	

#page {
	background: transparent url( /img/css/page-bg.jpg ) no-repeat center top;
}


					


#topTitle{
	height:70px;
	min-height:70px;
}


#container {
	margin:0 auto;
	width:800px;
}

#banner {
	margin: 0 auto;
	height:170px;
	width:100%;
}


					

#nav1 {
	height:55px;
	margin:0 auto ;
	text-align:center;
}

#nav1 ul {
	display:table;
	margin:0 auto;
	padding:0;
	list-style-type:none;
	position:relative;
	height:55px;
	text-transform:uppercase;
	font-size:11px;
	font-family:Arial,sans-serif;
}


#nav1 ul li {
	display:block;
	float:left;
	margin:0;
	padding:0;
	background:transparent url('/img/css/hmenu.jpg') repeat-x top left;
	border-left:1px solid #705f5c;

}


#nav1 ul li a {
	display:block;
	float:left;
	color:#FFFFFF;
	text-decoration:none;
	padding:0px 50px ;
	line-height:55px;
	font-weight:bold;
}


#nav1 ul li a:hover, #nav1 li#current a {
	color:#FFFFFF;
	background:transparent url('/img/css/hmenu-sel.jpg') repeat-x top left;
}


	

#content {
	width:790px;
	margin:0 auto ;
	text-align:left;
	min-height:800px;
}

#content p {
	text-align:justify;
}

	



#footerWrapper {
	margin:0 auto;
	height:150px;
	padding:0;
	background:transparent url( /img/css/footerWrapper-bg.jpg ) no-repeat scroll center top;
}


#footer {
	margin:0 auto;
	padding:0;
	width:800px;
	height:70px;
}


					#footer {
	color:#FFFFFF;
	text-align:center;
}

#footer a:link, #footer a:visited {
	color:#FFFFFF;
}


#footer a:hover{
	color:#ffb508;
	text-decoration:none;
}

	
	
					
#right {
	width:200px;
	padding:10px 20px 20px 20px;
	float:left;
}


#center {
	width:500px;
	padding:10px 20px 20px 5px;
	float:left;
	
	  display: block;
  margin: 0 0 10px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
#centermessage {
    width:400px;
    padding:10px 5px 5px 20px;
    float:left;
      display: block;
  margin: 5px 0 0 100px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #BBBBBB;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
#centermessagetext {
    width:400px;
    padding:10px 5px 5px 20px;
    float:left;
      display: block;
  margin: 5px 0 0 100px;
  height:150px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #BBBBBB;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.sizetextarea {
   width: 400px;
   margin-top:-35px;
   margin-left: -15px
   
}

#exp{
	width:200px; 
	margin-left:-30px; 
	margin-top: -48px;
	background-color: #fff; 
	border: 1px solid #ccc; 
	border: 1px solid rgba(0, 0, 0, 0.15);
}

#date{
	width:235px; 
	margin-left:200px; 
	margin-top: -62px;
	background-color: #fff; 
	border: 1px solid #ccc; 
	border: 1px solid rgba(0, 0, 0, 0.15);
}

#message{
	width:415px; 
	min-height:100px;
	margin-left:-16px; 
	margin-top: 5px;
	background-color: #fff; 
	border: 1px solid #ccc; 
	border: 1px solid rgba(0, 0, 0, 0.15);
	 -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
 
#content p {
	margin-top:10px;
	text-align:justify;
}


										
#sidebar ul.vmenu {
	list-style: none;
	text-align: left;
	margin: 7px 0px 8px 0px; 
	padding: 0;
	text-decoration: none;	
	border-top: 1px solid #f0ead1;
}


#sidebar ul.vmenu li {
	list-style: none;
	padding: 4px 0 4px 0px;
	margin: 0 2px;	
	border-bottom: 1px solid #f0ead1;
}



#sidebar ul.vmenu li a {
	text-decoration: none;
	color:#660d05;
}


#sidebar ul.vmenu li a:hover {
	color:#f9b302;
}


#sidebar ul.vmenu ul { margin: 0 0 0 5px; padding: 0; }
#sidebar ul.vmenu ul li { border: none; }



.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
